html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Cabin', sans-serif;

}

body{
    background:rgba(164,136,101, 0.5);
    background-size: cover;
}
.flex-container{
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar{
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;
    background: black;
    height: 60px;
    margin: 0;
    padding: 0; 
}
li a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    padding-left:  20px;
    padding-right: 20px;
   }
   
   li#home a{
       color: white;
   }
   
   #home{
       flex-grow: 1;
       background: rgb(164,136,101);
       height: 100%;
       
   }
   
   #home > a{
       display: flex;
       height: 100%;
       align-items: center;
       justify-content: center;
       border-right: 2px solid white;
       
   }

   
#food{
    text-align: center;
    flex-grow: 4;

}
   #about{
    text-align: center;
    flex-grow: 5;
   }

.log{
    flex-grow: 1;
    text-align: center;
}

img{
width: 35px;
height: 30px;
}
#about:hover, #food:hover{
background: black;
}

li#about a:hover, li#food a:hover{
color: white;
}

/*
store icon
*/

.fas{
color: white!important;
align-items: center;
justify-items: center;

}

.menu-container{
    width:800px;
    height: auto;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px black;

    
    
}

h3{
    margin: 0;
}

#pizza-quatro-stagioni{
    width: 100%;
    height: 300px;
}
#quatro-stagioni-ingredients{
    margin: 0;
}

#pizza-capriciosa{
    width: 100%;
    height: 300px;
}

.pret{
    text-transform: uppercase;
}

.quatro-ingredients{
    margin: 0;
    background:rgba(164,136,101, 0.5);
    color: white;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.capriciosa-ingredients{
    margin: 0;
    background:rgba(164,136,101, 0.5);
    color: white;
    font-weight: 700;
    font-size: 20px;
    text-align: center;

}