html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    background: url(restaurant.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.flex-container{
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar{
    display: flex;
    flex-direction: row;    
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    list-style: none;
    background: black;
    height: 60px;
    margin: 0;
    padding: 0; 
}
li a{
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    padding-left:  20px;
    padding-right: 20px;
   }
   
   li#home a{
       color: white;
   }
   
   #home{
       flex-grow: 1;
       background: rgb(164,136,101);
       height: 100%;
       
   }
   
   #home > a{
       display: flex;
       height: 100%;
       align-items: center;
       justify-content: center;
       border-right: 2px solid white;
       
   }

   
#food{
    text-align: center;
    flex-grow: 4;

}
   #about{
    text-align: center;
    flex-grow: 5;
   }

.log{
    flex-grow: 1;
    text-align: center;
}

img{
width: 35px;
height: 30px;
}
#about:hover, #food:hover{
background: black;
}

li#about a:hover, li#food a:hover{
color: white;
}

/*
store icon
*/

.fas{
color: white!important;
align-items: center;
justify-items: center;

}

.menu{
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: 150px 150px 150px 150px 150px 150px;
    height: 500px;
    width: fit-content;
    justify-content: center;
    justify-self: center;
    align-self: center;
    background:  rgba(164,136,101, 0.4);
    margin: auto;
    margin-top: 150px;
    padding-botom: 0px;
}

#asd{
    width: 100%;
    height: 100%;
}


.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: none;
    text-decoration: none;
    bottom: 0;
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 40px;
    position: absolute;
    background: rgb(164,136,101);
}

h3{
    padding: 0;
    margin: 0;
    color: white; 
}

a:visited{
    color: white;
}